html, body {
    height: 100%;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

body {
    background-image: url("./images/image1.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    text-align: center;
}

h1 {
    max-width: 500px;
    margin: 20px;
}